@if (isViewed) {
  <div class="container">
    <div class="question">
      <span>Question no.{{ itemIndex + 1 }}</span>
    </div>
    <div class="questionContent">
      <span class="questionSpan">{{ questionName }}</span>
    </div>
    <form [formGroup]="form">
      <div formArrayName="{{ multiSelectAnswerFormName.ANSWERS }}" class="answers">
        <div [formGroupName]="itemIndex">
          <div formArrayName="{{ multiSelectAnswerFormName.ANSWERS }}" class="answers">
            @for (answer of answersFormArray.controls; track $index) {
              <div [formGroupName]="$index">
                <div class="d-flex row answers">
                  <mat-checkbox class="matCheckbox" formControlName="{{ multiSelectAnswerFormName.IS_SELECTED }}"></mat-checkbox>
                  <mat-form-field appearance="outline" class="answerInputWidth">
                    <input matInput type="text" formControlName="{{ multiSelectAnswerFormName.LABEL }}"/>
                  </mat-form-field>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </form>
  </div>
}
