@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");

.placeholder-style::placeholder {
  text-align: center;
  background: rgb(238, 238, 238);
  height: 100%;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: black;
 
}

.container {
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 380px;
  height: 53%;
  margin-bottom: 48%;
}

mat-card {
  width: 660px;
  height: 470px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  background-color: rgb(70, 70, 70);
  box-shadow: rgba(136, 136, 136, 0.561) 0px 10px 60px 20px;
}

.button {
  margin-top: 20px;
  width: 140px;
  margin-left: 100px;
  margin-top: 35px;
}

abbr {
  font-style: normal;
  position: relative;
}

.tooltip:after {
  background: #ffabab;
  background: rgb(223, 11, 11);
  background: rgba(243, 96, 96, 0.678); /* Black background with 0.5 opacity */
  border-radius: 6px;
  display: block;
  left: -195px;
  padding: 5px;
  padding-right: 25px;
  position: absolute;
  width: 280px;
  z-index: 1;
  content: attr(title);
  height: 34px;
  animation: 2s slidein;
}

.tooltip_confirmed:hover::after,
.tooltip_password:hover::after,
.tooltip_email:hover::after,
.tooltip_login:hover::after {
  background: rgb(2, 2, 2);
  background: rgba(241, 240, 240, 0.521); /* Black background with 0.5 opacity */
  border-radius: 6px;
  bottom: -6x;
  display: block;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 86%;
}

.tooltip_password:hover::after {
  content: "Length: 8-20 | min: 1 - [!@#$ ...] and 1 - [0-9] and 1 - [a-z] and 1 - [A-Z]";
  width: 490px;
}

.tooltip_confirmed:hover::after {
  content: "Match value from password above";
  width: 260px;
}

.tooltip_email:hover::after {
  content: "example@example.example";
  width: 210px;
}

.tooltip_login:hover::after {
  content: "Length:4 - 20 | min: 1 - [0-9] and 1 - [a-z] and 1 - [A-Z]";
  width: 380px;
}

@keyframes slidein {
  0% {
    top: -220px;
    opacity: 0.1;
  }
  20% {
    top: 177px;
    opacity: 0.3;
  }
  30% {
    top: 180px;
    opacity: 0.5;
  }

  70% {
    opacity: 0.6;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    top: 207px;
    opacity: 1;
  }
}

.box1 {
  border-radius: 6px;
  box-shadow: rgba(207, 207, 207, 0.1) 0px 5px 40px 19px, rgba(255, 255, 255, 0.5) 0px 8px 10px -8px;
  z-index: 1;
}


.box11 {
  border-color: #c7c7c7;
  border-style: solid;
  width: 435px;
}




.registered{
  animation: 2s registredAnimation;
  visibility: hidden;
}


.register_complited {
  height: 233px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}


.input_border{
  border: 1px solid;
  border-color: coral;
}