

  <div class="w-full h-16 header-shadow items-center justify-between flex flex-row pl-5 pr-5">
    <div class="flex flex-row col-start-3 gap-4">
      <img
        src="../assets/images/menu-svgrepo-com.svg"
        width="25"
        height="60"
        class="justify-between"
        alt=""
        (click)="openSidebar.next(true)"
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
      <img
        src="../assets/images/4.svg"
        width="120"
        height="60"
        class=""
        alt=""
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
    </div>
    <div class="flex flex-row col-end-3">
      <img
        src="../assets/images/search.svg"
        width="40"
        height="40"
        class="mt-0.5"
        alt=""
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
      <img
        src="../assets/images/bell1.svg"
        width="40"
        height="40"
        class=""
        alt=""
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
      <img
        src="../assets/images/loginSVG.svg"
        width="40"
        height="40"
        class=""
        alt=""
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
    </div>
  </div>
