<!-- <div class="container">
  <div class="row">
    
  </div>
</div> -->

<div class="w-full h-15 header-shadow">
  <div class="flex flex-row col justify-between ml-5 mr-5">
    <div class="flex flex-row col-start-3 gap-4">
      <img
        src="../assets/images/menu-svgrepo-com.svg"
        width="25"
        height="60"
        class="justify-between"
        alt=""
        (click)="openSidebar.next(true)"
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
      <img
        src="../assets/images/inquiry app text.svg"
        width="120"
        height="60"
        class=""
        alt=""
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
    </div>
    <div class="flex flex-row col-end-3">
      <img
        src="../assets/images/search.svg"
        width="60"
        height="50"
        class="mt-0.5"
        alt=""
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
      <img
        src="../assets/images/bell1.svg"
        width="60"
        height="60"
        class=""
        alt=""
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
      <img
        src="../assets/images/loginSVG.svg"
        width="55"
        height="55"
        class=""
        alt=""
        style="border-radius: 5px; cursor: pointer; padding-top: 3px"
      />
    </div>
  </div>
</div>
