.container{
    background-color:#ffffff!important;
    border: none !important;
    border-width:0!important;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    top:0;
    width:100%;
    z-index: 1;
    height: 60px;
}