@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
  height: 100%;
}

.set_menu_buttons {
  justify-content: space-between;
  display: flex;
  text-align: center;
  padding: 20px;
}

.rowWidth{
  margin-top: 20px;
  padding-top: 20px;
  width:8%
}

.mat_cart_content {
  display: flex;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: black;
  width: 650px;
  height: 94px;
  padding-left: 5px;
  background-image: linear-gradient(180deg, #dce2f2, #f4f4fc 400%, #a2bddc);
  box-shadow: 0px 0px 5px 5px #a3bfd9;
}

.setMat {
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-right: 10px;
}

.setUserInfo {
  display: flex;
  justify-content: center;
  text-align: start;

  & .title {
    width: 580px;
    font-size: 14px;
    background-image: linear-gradient(45deg, #a2bddc 30%, #dce2f2, #dce2f2);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 500;
    text-align: center;
    text-shadow: 0px 0px 10px #8097ab;
  }
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.cardImage {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-image: url('/assets/images/icons8-client-50.png');
}

.setImageRowText {
  display: flex;
  text-align: center;
  justify-content: center;
}
