
  <div class="container">
    <div class="set_menu_buttons">
      <div class="rowWidth"></div>
      <mat-card class="mat_cart_content">
        <div class="setMat">
          <div class="setUserInfo">
            <div>
              <div class="title">Your profile info</div>
              <div><span>Inquiries to accomplish:</span></div>
              <div>
                <span>Failed: TODO</span>
              </div>
              <div>
                <span>Your local time: {{ timeActual }} </span>
              </div>
            </div>
          </div>

          <div class="setImageRow">
            <div class="cardImage"></div>
            <p class="setImageRowText">{{ userType }}</p>
          </div>
        </div>
      </mat-card>
      <button class="button_app" (click)="logOut()"><mat-icon fontIcon="logout"></mat-icon>&nbsp;Log out</button>
    </div>
    <inq-inquiry-table-list-user (openInquiryFormToFillEvent)="openInquiryFormToFill($event)"></inq-inquiry-table-list-user>
  </div>

