input:focus, textarea:focus, select:focus{
  outline: none;
}

.box{
  background: rgb(255, 255, 255);
    background: linear-gradient(275deg, rgba(255, 255, 255, 1) 19%, rgba(222, 226, 230, 1) 73%);
}

.placeholder-style::placeholder {
  text-align: center;
  background-color: rgb(55 65 81);
  height: 100%;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 22px;
  color: white;
  border: none;
}

.button-cutsom { 
  border: 1px solid;
  border-color: coral;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}