@if (inquiryForm) {
  <mat-dialog-content class="box w-full">
    <ng-container class="flex-row" [formGroup]="inquiryForm">
      <div class="w-full justify-center inline-flex mb-3">
        <input
          class="placeholder-style w-72 leading-tight focus:border-none text- font-normal  text-center  bg-gray-100  rounded-xl h-12 button-cutsom border-l border-r border-t border-b shadow text-xl"
          type="text"
          placeholder="Inquiry name"
          aria-label="Login name"
          formControlName="{{ inquiryFormName.INQUIRY_NAME }}"
        />
      </div>
      <div class="forms_section" formArrayName="{{ inquiryFormName.QUESTIONS }}">
        @for (item of questionsFormArray.controls; track trackItem(item); let index = $index) {
          <div class="row mt-4">
            <inq-question
              [itemIndex]="index"
              [item]="item"
              (removeQuestionEvent)="removeQuestion($event)"
            ></inq-question>

            <inq-multi-select
              [itemIndex]="index"
              [item]="item"
              (removeAnswerEvent)="removeAnswer($event, index)"
              (removeQuestionEvent)="removeQuestion($event)"
              (addAnswerEvent)="addAnswerInSelectForm(index, 'multiSelect')"
            ></inq-multi-select>

            <inq-single-select
              [itemIndex]="index"
              [item]="item"
              (removeAnswerEvent)="removeAnswer($event, index)"
              (removeQuestionEvent)="removeQuestion($event)"
              (addAnswerEvent)="addAnswerInSelectForm(index, 'singleSelect')"
            ></inq-single-select>
            @if (item.get(typeQuestion.TYPE)?.value === questionType.SINGLE_SELECT) {
              @if (index + 1 === lastIDquestionsArrayReverse) {
                @if (isAnswerToSingleSelect) {
                  <inq-button-add-answer
                    (addAnswer)="addAnswerInSelectForm(index, 'singleSelect')"
                  ></inq-button-add-answer>
                }
              }
            }

            <inq-scale-select
              [itemIndex]="index"
              [item]="item"
              (removeQuestionEvent)="removeQuestion($event)"
            ></inq-scale-select>
          </div>
        }
      </div>
      <div class="inline-flex justify-center w-full mt-4">
        <button
          [matMenuTriggerFor]="menu"
          class="h-9 shadow bg-gray-700 hover:bg-green-500 rounded-md hover:border-gray-400 w-48 leading-tight text-white cursor-pointer disabled:bg-gray-300 disabled:border-0 disabled:h-8 text-normal"
          type="submit"
        >
          Add question
        </button>
        <mat-menu #menu="matMenu" class="user-menu text-white" yPosition="below">
          <div class="hover:bg-slate-900 w-full flex justify-center items-center h-8 hover:rounded-xl shadow-sm">
            <button (click)="addSingleSelectForm()" class="w-full">
              <img src="../assets/images/mat-menu/singleselect.svg" width="70" height="50" class="w-full h-8" alt="" />
            </button>
          </div>
          <div class="hover:bg-slate-900 w-full flex justify-center items-center h-8 hover:rounded-xl shadow-sm">
            <button (click)="addMultiSelectForm()" class="w-full">
              <img src="../assets/images/mat-menu/multiselect.svg" width="50" height="50" class="w-full h-8" alt="" />
            </button>
          </div>
          <div class="hover:bg-slate-900 w-full flex justify-center items-center h-8 hover:rounded-xl shadow-sm">
            <button (click)="addScaleSelectForm()" class="w-full">
              <img src="../assets/images/mat-menu/scaleselect.svg" width="50" height="50" class="w-full h-8" alt="" />
            </button>
          </div>
          <div class="hover:bg-slate-900 w-full flex justify-center items-center h-8 hover:rounded-xl shadow-sm">
            <button (click)="addShortTextQuestionForm()" class="w-full">
              <img
                src="../assets/images/mat-menu/shorttextquestion.svg"
                width="80"
                height="50"
                class="w-full h-8"
                alt=""
              />
            </button>
          </div>
        </mat-menu>
      </div>
    </ng-container>
    @if (questionsFormArray.length > 0) {
      <span style="text-align: center" class="question_margin"
        >Number of questions {{ questionsFormArray.length }}</span
      >
    }
    <mat-dialog-actions class="" style="display: flex;justify-content: end;">
      <div class="flex justify-between" style="justify-items: end;width: 150px;align-content: center;">
        <button
        mat-dialog-close
        style="width: 120px;padding: 5px;"
        class="h-10 m-2 p-2 bg-white shadow text-black hover:bg-green-500 rounded-md hover:border-gray-400 w-36  cursor-pointer disabled:bg-gray-300 disabled:border-0 disabled:h-8 text-normal"
        type="submit"
      >
        Close
      </button>
      </div>
      <div class="flex justify-between">
      <button
        style="width: 120px;padding: 5px;"
        class="h-10 m-2 p-2 bg-gray-700 shadow hover:bg-green-500 rounded-md hover:border-gray-400 w-36 leading-tight text-white cursor-pointer disabled:bg-gray-300 disabled:border-0 disabled:h-8 text-normal"
        type="submit"
      >
        Save
      </button>
      </div>
        
    </mat-dialog-actions>
  </mat-dialog-content>
}
