@if (isViewed) {
  <div class="form">
    <form [formGroup]="formItem">
      <div class="question_content_form_to_fill">
        <span matInput type="text">{{ questionLabel }}</span>
      </div>
      <div class="flex justify-center">
        <!-- <mat-form-field appearance="outline" class="answer_input_width">
          <mat-label>Text of the Answer</mat-label>
          <input matInput type="text" formControlName="{{ shortTextQuestionAnswerFormName.ANSWER }}" />
        </mat-form-field> -->

        <div class="inline-flex w-2/3 justify-start mt-4">
          <textarea
            type="textarea"
            style="resize: none"
            #areaQuestion
            placeholder="Question"
            maxlength="350"
            matInput
            class="w-full bg-gray-100 text_area rounded-md focus:border-0"
            formControlName="{{ shortTextQuestionAnswerFormName.ANSWER }}" 
            matInput
          ></textarea>
        </div>
      </div>
    </form>
  </div>
}
