@if (isViewed) {
  <form [formGroup]="form">
    <div formArrayName="{{ inquiryFormName.QUESTIONS }}">
      <div [formGroupName]="itemIndex">
        <span class="question_margin">Question no. {{ itemIndex + 1 }}</span>
        <mat-form-field appearance="outline" class="question_input_width">
          <mat-label>Text of the Question</mat-label>
          <input matInput type="text" formControlName="{{ singleSelectQuestionFormName.QUESTION }}" />
        </mat-form-field>
        <button class="question_margin" color="primary" mat-raised-button (click)="removeQuestion()">Remove question</button>
        <div class="row" formArrayName="{{ singleSelectQuestionFormName.ANSWERS }}">
          @for (answers of answersFormArray.controls; track answers; let index = $index) {
            <div class="row">
              <mat-radio-button></mat-radio-button>
              <mat-form-field appearance="outline" class="answer_input_width" >
                <mat-label>Answer</mat-label>
                <input matInput type="text"  formControlName="{{ index }}" />
              </mat-form-field>
              <button class="question_margin" color="primary" mat-raised-button (click)="removeAnswerAtForm(index)">Remove</button>
            </div>
          }
        </div>
      </div>
    </div>
  </form>
}
