<header>
  <inq-inquiry-header (openSidebar)="getSidenavEvent($event)"></inq-inquiry-header>
</header>

<section class="sidebar_container flex">
  <div class="flex flex-row">
    <div class="side_container">
      @if (isSidebar) {
        <div [ngClass]="{ sidebar_show: isSidebar }"><inq-sidebar></inq-sidebar></div>
      }
      @if (!isSidebar) {
        <div class="sidebar_hide"><inq-sidebar></inq-sidebar></div>
      }
    </div>
  </div>
  @if (!(isLogin$ | async))  {
    <div [ngClass]="{ widthContainer3: !(isLogin$ | async)}"><router-outlet> {{ isLogin$ | async }} </router-outlet></div>
  } @else {
    <div [ngClass]="{ widthContainer: !isSidebar, widthContainer2: isSidebar }"><router-outlet>{{ isLogin$ | async }}</router-outlet></div>
  }
</section>
