.sidebar_container {
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(275deg, rgba(255, 255, 255, 1) 19%, rgba(222, 226, 230, 1) 73%);
    width: 100%;
}

.side_container {
    width: 100px;
}

.sidebar_show {
    animation: slidein 2s normal;
    visibility: inherit;
    height: 100%;
    position: relative;
    z-index: 1;
}

.sidebar_hide {
    height: 100%;
    animation: slidein 2s reverse;
    margin-left: -260px;
    z-index: 1;
}

@keyframes slidein {
    0% {
        margin-left: -450px;
    }
    20% {
        margin-left: -300px;
    }

    30% {
        margin-left: -250px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes slideout {
    0% {
        margin-left: -450px;
    }
    20% {
        margin-left: -300px;
    }

    30% {
        margin-left: -250px;
    }

    100% {
        margin-left: -0px;
    }
}

.widthContainer {
    width: 100%;
    z-index: 0;
    animation: slidePollsterPanel 2s normal;
    margin-left: 50px;
}

.widthContainer2 {
    width: 100%;
    margin-left: 200px;
}

@keyframes slidePollsterPanel {
    0% {
        margin-left: 200px;
    }

    45% {
        margin-left: 200px;
    }

    100% {
        margin-left: 50px;
    }
}
