<header><inq-inquiry-header (openSidebar)="getSidenavEvent($event)"></inq-inquiry-header></header>

<section class="sidebar_container flex">
  <div class=" basis-1/12  flex flex-row">
    <div class="side_container">
      @if (isSidebar) {
        <div [ngClass]="{ sidebar_show: isSidebar }"><inq-sidebar></inq-sidebar></div>
      }
      @if (!isSidebar) {
        <div class="sidebar_hide"><inq-sidebar></inq-sidebar></div>
      }
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->
  <!-- <inq-login></inq-login> -->
   <div  class="basis-11/12"><router-outlet></router-outlet></div>

   <!-- <inq-login  ></inq-login> -->
</section>
