<header><inq-inquiry-header (openSidebar)="getSidenavEvent($event)"></inq-inquiry-header></header>

<section class="sidebar_container flex flex-row justify-between">
  <div class="col-2 flex flex-row">
    <div class="side_container">
      @if (isSidebar) {
        <div [ngClass]="{ sidebar_show: isSidebar }"><inq-sidebar></inq-sidebar></div>
      }
      @if (!isSidebar) {
        <div class="sidebar_hide"><inq-sidebar></inq-sidebar></div>
      }
    </div>
  </div>
  <!-- <inq-login></inq-login> -->
   <inq-register class="col-6 mr-36  flex items-center"></inq-register>
  <div class="col-end-4"></div>
</section>
