<div class="w-full">
  <mat-card class="mt-28">
    <div class="flex justify-center pt-10">
      <img src="../assets/images/sin-in-user.svg" width="80" height="80" class="" alt="" />
    </div>
    <div><span class="flex justify-center text-2xl text-gray-200 font-extralight">Sign in</span></div>

    <div class="flex flex-row justify-center">
      <form [formGroup]="loginForm" class="w-full max-w-sm flex flex-row justify-center">
        <div class="justify-center-center justify-center">
          <div class="mt-2 mb-2 flex flex-row justify-center ml-7 items-center">
            <input
              class="placeholder-style border-2 w-48 border-t border-b border-r border-l leading-tight focus:outline-none border-gray-400 text-white font-normal text-center bg-gray-500 rounded-md h-8"
              placeholder="Login"
              aria-label="Full name"
              formControlName="userName"
            />
            <div class="flex items-center h-4 pl-2 tooltip_login" title="">
              <img src="../assets/images/info.svg" width="20" height="20" class="" alt="" />
            </div>
          </div>

          <div class="mt-2 mb-2 flex flex-row justify-center ml-7 items-center">
            <input
              class="placeholder-style border-2 w-48 border-t border-b border-r border-l leading-tight focus:outline-none border-gray-400 text-white font-normal text-center bg-gray-500 rounded-md h-8"
              type="password"
              placeholder="Password"
              aria-label="Full name"
              formControlName="password"
            />
            <div class="flex items-center h-4 pl-2 tooltip_password" title="">
              <img src="../assets/images/info.svg" width="20" height="20" class="" alt="" />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="flex justify-center col-6">
      @if (_showLoginError) {
        <div class="flex flex-row text-center items-center">
          <div class="tooltip flex items-center" title="Sign in has failed"></div>
        </div>
      }
      <button
        [disabled]="loginForm.invalid"
        class="h-8 bg-gray-700 hover:bg-green-500 rounded-md hover:border-gray-400 border-gray-400 border-4 w-48 border-t border-b border-r border-l leading-tight text-white cursor-pointer disabled:bg-gray-300 disabled:border-0 disabled:h-8 text-normal"
        type="submit"
        (click)="signIn()"
      >
        Sign in
      </button>
    </div>
    <div class="justify-center flex flex-row items-center mt-4">
      <div class="flex items-center">
        <span class="flex justify-center text-sm text-gray-300 font-extralight">Don't have an account yet?</span>
      </div>
      <div class="cursor-pointer w-16 flex items-center justify-center" (click)="navigateToRegister()">
        <span class="text-gray-400 text-sm font-extralight hover:text-gray-600 hover:font-medium flex items-center"
          >Sign up.</span
        >
      </div>
    </div>
  </mat-card>
</div>
