@if (isViewed) {
  <div class="container">
    <div class="question_content_form_to_fill">
      <span>{{questionLabel}}</span>
    </div>
    <form [formGroup]="formItem">
      <mat-radio-group formControlName="{{ singleSelectAnswerFormName.SELECTED_ANSWER }}">
        <div formArrayName="{{ singleSelectAnswerFormName.ANSWERS }}">
          @for (answer of answersFormArray.controls; track $index) {
            <div [formGroupName]="$index">
              <div class="d-flex row">
                <mat-radio-button
                  value="{{ answersFormArray.get($index.toString())?.get('id')?.value }} "
                ></mat-radio-button>
                <mat-form-field appearance="outline" class="answer_input_width">
                  <input matInput type="text" formControlName="{{ singleSelectAnswerFormName.LABEL }}" />
                </mat-form-field>
              </div>
            </div>
          }
        </div>
      </mat-radio-group>
    </form>
  </div>
}
