@if (this.isViewed) {
  <form [formGroup]="form">
    <div formArrayName="{{ inquiryAnswersFormName.ANSWERS }}">
      <div [formGroupName]="itemIndex">
        <div class="question">
          <span>Question no.{{ itemIndex + 1 }}</span>
        </div>
        <div class="questionContent">
          <span class="questionSpan">{{questionLabel}}</span>
        </div>
        <div class="jk">
          <div class="grid-container">
            <div class="grid-container item1">
              <span>Minimum value:</span>
            </div>
            <div class="item4">
              <span>{{ minSteperValue }}</span>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-container item2">
              <span> Max steper value:</span>
            </div>
            <div class="item4">
              <span>{{ maxSteperValue }}</span>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-container item3">
              <span> Step size value:</span>
            </div>
            <div class="item4">
              <span>{{ stepSizeValue }}</span>
            </div>
          </div>
          <mat-hint></mat-hint>
          <div class="grid-container">
            <div class="grid-container item3">
              
              <span> Your answer </span>
            </div>
            <div class="item4">
              <span [ngClass]="{'sliderMaxValue': isChosenMaxValue,'textUnderline': isChosenMaxValue}"> {{ slider.value }} </span>
              <!-- <span [class.sliderMaxValue]="isChosenMaxValue"> {{ slider.value }} </span> -->
            </div>
          </div>
        </div>
        <mat-slider [min]="minSteperValue" [max]="maxSteperValue" [step]="stepSizeValue">
          <input formControlName="answer" matSliderThumb #slider />
        </mat-slider>
      </div>
    </div>
  </form>
}
