.box_mat_slider {
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 8px;
  background-image: linear-gradient(25deg, #f3f8ff 10%, #ceddf5, #dde8f9);
  box-shadow: 5px 5px 5px 0px #a6b9d8;
  padding: 8px;
  width: 35%;
  
  .grid-container {
    display: grid;
    grid-template-areas: 'main right';
    width: 20%;
    justify-content: start;
    justify-items: start;
    gap: 20px;
    
    .item1 {
      width: 300px;
      justify-content: start;
      grid-area: 'main right';
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .item2 {
      width: 300px;
      justify-content: start;
      grid-area: 'main';
    }
    .item3 {
      width: 300px;
      justify-content: start;
      grid-area: 'main';
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.sliderMaxValue {
  color: red;
}
.textUnderline {
  text-decoration: underline;
}
