@if (isViewed) {
  <form [formGroup]="form">
    <div formArrayName="{{ inquiryFormName.QUESTIONS }}">
      <div [formGroupName]="itemIndex">
        <span class="question_margin">Question no. {{ itemIndex + 1 }}</span>
        <mat-form-field appearance="outline" class="question_input_width">
          <mat-label>Text of the Question</mat-label>
          <input matInput type="text" formControlName="{{ shortTextQuestionFormName.QUESTION }}" />
        </mat-form-field>

        <button class="question_margin" color="primary" mat-raised-button (click)="removeQuestion()">Remove question</button>
        <mat-form-field appearance="outline" class="answer_input_width" ngDefaultControl>
          <mat-label>Text of the Answer</mat-label>
          <input matInput type="text" formControlName="{{ shortTextQuestionFormName.ANSWER }}" />
        </mat-form-field>
      </div>
    </div>
  </form>
}
