@if (isViewed) {
  <form [formGroup]="form">
    <div formArrayName="{{ inquiryFormName.QUESTIONS }}">
      <div [formGroupName]="itemIndex" class="w-full inline-flex">
        <div class="w-20 h-12 flex items-center">
          <span class="text-gray-500 align-middle flex h-5">no. {{ itemIndex + 1 }}</span>
        </div>
        <div class="w-3/5 h-full mr-16 pr-4">
          <div class="inline-flex w-full justify-start">
            <textarea
              type="textarea"
              style="resize: none"
              #areaQuestion
              placeholder="Question"
              maxlength="350"
              matInput
              class="w-full bg-gray-100 text_area rounded-md focus:border-0"
              formControlName="{{ shortTextQuestionFormName.QUESTION }}"
              matInput
            ></textarea>
          </div>
          <div class="justify-end flex">
            <span class="text-xs text-gray-500 items-center flex">
              {{ 350 - areaQuestion.value.length + '/' + 350 }}
            </span>
          </div>
        </div>
        <div class="w-4"></div>
        <div class="w-3/5 h-full mr-2">
          <div class="inline-block w-full justify-end">
            <textarea
              type="textarea"
              style="resize: none"
              #areaAnswer
              placeholder="Answer"
              maxlength="350"
              matInput
              class="w-full h-10 bg-gray-200 text_area rounded-md focus:border-0 ml-1"
              formControlName="{{ shortTextQuestionFormName.ANSWER }}"
              matInput
            ></textarea>
          </div>
          <div class="w-22 justify-end flex">
            <span class="text-xs text-gray-500 items-center flex">
              {{ 350 - areaAnswer.value.length + '/' + 350 }}
            </span>
          </div>
        </div>
        <div class="w-1/6 ml-2 inline-flex items-center h-14">
            <button
              style="width: 130px"
              class="h-7 hover:bg-red-500 rounded-md text-white cursor-pointer text-sm bg-red-200 shadow-2xl"
              type="submit"
              (click)="removeQuestion()"
            >
              Remove ques.
            </button>
        </div>
      </div>
    </div>
  </form>
}
