@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.title{
  padding-top:15px;
  font-size: 26px;
  margin: 0px;
  color: #7699bb;
}

.stressLine {
  width: 40%;
  text-align: center;
  justify-content: center;
}

.formGroup {
  padding-left: 10px;
  padding-right: 10px;
  padding-top:20px;
}

.matDialogActions{
  background-image: url('/assets/images/layered-steps-haikei.png');
}

.buttonCustom {
  align-items: center;
  background-image: #a2bddc;
  border: 4px black;
  border-radius: 8px;
  box-shadow: rgba(217, 222, 240) 0px 0px 5px 5px;
  box-sizing: border-box;
  color: black;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1em;
  width: 150px;
  height: 30px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.8;
  position: relative;
  overflow: hidden;
}

.buttonCustom:active,
.buttonCustom:hover {
  outline: 0;
  box-shadow: #9fa6cf 0px 0px 5px 5px;
}

@media (min-width: 768px) {
  .buttonCustom {
    font-size: 14px;
    max-width: 120px;
    font-family: 600;
  }
}
