<div class="container">
  <div class="title">Inquiry name: {{ inquiry.name }}</div>
  <form [formGroup]="formGroup" class="formGroup">
    <div formArrayName="answers">
      @for (answer of formArrayControls.controls; track $index) {
        <inq-multiselect-answer [item]="answer" [itemIndex]="$index"></inq-multiselect-answer>
        <inq-scale-answer [item]="answer" [itemIndex]="$index"></inq-scale-answer>
        <inq-shortquestion-answer [item]="answer" [itemIndex]="$index"></inq-shortquestion-answer>
        <inq-singleselect-answer [item]="answer" [itemIndex]="$index"></inq-singleselect-answer>
      }
    </div>
  </form>
  <div class="matDialogActions">
    <mat-dialog-actions align="end">
      <button class="buttonCustom" mat-button mat-dialog-close>Cancel</button>
      <button class="buttonCustom" mat-button mat-dialog-close (click)="saveAnswerForm()">Save</button>
    </mat-dialog-actions>
  </div>
</div>
