@import 'ngx-toastr/toastr';

.container{
    height: 100%;
}

.menu {
    padding:20px;
}
.button {
    margin-right: 10px
}

.inquiryTable{
    text-align: center;
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
  }