/* .container {
    width: 25%;
} */

/* .user_detail:hover {
    height: 28px;
    cursor: pointer;
    background-color: lightgray;
} */

.component_row {
    height: 28px;
    cursor: pointer;
    padding-left: 4px;
    background-color: lightgray;
}

.component_row_hover:hover {
    height: 28px;
    cursor: pointer;
    background-color: lightgray;
    font-weight: 700;
}

.d {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.d li :first-of-type {
    animation: slidein 700ms normal;
}

.d li:last-of-type {
    animation: slidein 1s normal;
}

.d li {
    margin-left: 25px;
    padding-left: 4px;
    animation: slidein 1s normal;
    display: block;
    list-style: none;
    width: 195px;
}

.d li:nth-child(1) {
    animation-delay: 100ms;
    animation-duration: 1s;
}

.d li:nth-child(2) {
    animation-delay: 200ms;
    animation-duration: 1s;
}

.d li:nth-child(3) {
    animation-delay: 300ms;
    animation-duration: 1s;
}

.d li:nth-child(4) {
    animation-delay: 400ms;
    animation-duration: 1s;
}

.li-details:hover {
    background-color: rgb(218, 217, 217);
    font-weight: 500;
    width: fit-content;
}

.ff {
    background-color: rgb(218, 217, 217);
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }

    100% {
        margin-left: 27px;
    }
}
