.component_row {
    height: 28px;
    cursor: pointer;
    padding-left: 4px;
    background: rgb(189, 192, 194);
    background: linear-gradient(
        232deg,
        rgba(189, 192, 194, 1) 0%,
        rgba(140, 142, 143, 1) 0%,
        rgba(203, 203, 203, 1) 54%,
        rgba(222, 226, 230, 1) 100%,
        rgba(206, 210, 214, 1) 100%,
        rgba(181, 185, 189, 1) 100%
    );
}

.component_row_hover:hover {
    height: 28px;
    cursor: pointer;
    background: rgb(189, 192, 194);
    background: linear-gradient(
        232deg,
        rgba(189, 192, 194, 1) 0%,
        rgba(190, 192, 193, 1) 10%,
        rgba(222, 226, 230, 1) 75%,
        rgba(222, 226, 230, 1) 100%,
        rgba(206, 210, 214, 1) 100%,
        rgba(181, 185, 189, 1) 100%
    );
    font-weight: 700;
}

ul {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

ul li :first-of-type {
    animation: slidein 700ms normal;
}

ul li:last-of-type {
    animation: slidein 1s normal;
}

ul li {
    margin-left: 25px;
    padding-left: 6px;
    animation: slidein 1s normal;
    display: block;
    list-style: none;
    width: 195px;
}

ul li:nth-child(1) {
    animation-delay: 100ms;
    animation-duration: 1s;
}

ul li:nth-child(2) {
    animation-delay: 200ms;
    animation-duration: 1s;
}

ul li:nth-child(3) {
    animation-delay: 300ms;
    animation-duration: 1s;
}

ul li:nth-child(4) {
    animation-delay: 400ms;
    animation-duration: 1s;
}

ul .li_hover:hover {
    background-color: rgb(218, 217, 217);
    font-weight: 500;
    width: 195px;
}

.li_details {
    padding-left: 12px;
    background: rgb(189, 192, 194);
    background: linear-gradient(
        232deg,
        rgba(189, 192, 194, 1) 0%,
        rgba(140, 142, 143, 1) 0%,
        rgba(203, 203, 203, 1) 54%,
        rgba(222, 226, 230, 1) 100%,
        rgba(206, 210, 214, 1) 100%,
        rgba(181, 185, 189, 1) 100%
    );
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }

    100% {
        margin-left: 27px;
    }
}
